@import "../styles/contants.scss";

// using the nth child attribute, we customly changed a couple of aspects
.wrapper{
    overflow: hidden;
    

    .container{
        z-index: 1;
        position: relative;
        

        .upper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            >:nth-child(2){
                line-height: 35px;
            }
            // media Query for smaller screens - upper text
            @media (max-width: 770px){
                justify-content: center;
                text-align: center;
                gap: 2rem;
            }
        }

        .lower{
            margin-top: 13rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            // media Query for smaller screens - lower text
            @media (max-width: 770px), (max-width: $sm){
                justify-content: center;
                margin-top: 4rem;
                gap: 2rem;
                position: relative;
                top: 2rem;
            }

            .skills{
                display: flex;
                align-items: center;
                gap: 1rem;
                >:nth-child(2){
                    line-height: 25px;
                }
            }

            .freelance{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.3rem;
                margin-top: -40px;
                >:nth-child(3){
                    margin-top: -20px;
                }

                // media Query for smaller screens - lower text - freelance text & icon
                @media (max-width: 770px), (max-width: $sm){
                    justify-content: center;
                    margin-top: -0.5rem;
                    margin-bottom: 0.5rem;
                }


                img{
                    width: 3.5rem;
                    margin-bottom: -0.3rem;
                }
            }
        }

        .person{
            position: absolute;
            bottom: -2rem;
            margin: auto;
            background-image: url("../../public/splash.png");
            background-size: 23rem;
            background-repeat: no-repeat;
            left: 34%;

            // media Query for smaller screens - person image
            @media (max-width: 770px), (max-width: $sm){
                background-size: 20rem;
                position: relative;
                left: 0;
                z-index: -1;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: bottom;
            }
        }
    }
}